<?xml version="1.0" encoding="UTF-8"?>
<web-app id="sampleapp" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    
    <display-name>sampleapp</display-name>
    <description>sampleapp</description>
    
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
        <!-- 
            classpath:persistenceContext.xml,
            classpath:datasourceContext.xml,
            classpath:repositoryContext.xml,
            classpath:serviceContext.xml,
            classpath:factoryContext.xml,
            classpath:securityContext.xml,
            classpath:batch-context.xml
             -->
        </param-value>
    </context-param>
    
    <!-- Bootstraps the root web application context before servlet initialization -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <!-- Enforce UTF-8 Character Encoding -->
    <filter>
        <filter-name>charEncodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    
    <filter-mapping>
        <filter-name>charEncodingFilter</filter-name>
        <servlet-name>spring-mvc</servlet-name>
    </filter-mapping>
    
    <!-- 
    <filter>  
        <filter-name>openSessionInViewFilter</filter-name>  
        <filter-class>org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>  
    </filter>  

    <filter-mapping>
        <filter-name>openSessionInViewFilter</filter-name>  
        <url-pattern>/</url-pattern>
        <url-pattern>*.html</url-pattern>
    </filter-mapping>  
     -->
    
    <filter>
        <filter-name>sitemesh</filter-name>
        <filter-class>com.opensymphony.module.sitemesh.filter.PageFilter</filter-class>
    </filter>
    
    <filter-mapping>
        <filter-name>sitemesh</filter-name>
        <servlet-name>spring-mvc</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/css/*</url-pattern>
        <url-pattern>/js/*</url-pattern>
        <url-pattern>/images/*</url-pattern>
        <url-pattern>/favicon.ico</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>spring-mvc</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>spring-mvc</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

	<error-page>
        <error-code>403</error-code>
        <location>/WEB-INF/jsp/errors/servererror.jsp</location>
    </error-page>

	<error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/jsp/errors/servererror.jsp</location>
    </error-page>

	<error-page>
        <error-code>500</error-code>
        <location>/WEB-INF/jsp/errors/servererror.jsp</location>
    </error-page>

</web-app>